* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b91450;
  font-family: "Roboto", sans-serif;
}

h2,
h3 {
  color: #363636;
}

h3 {
  padding-bottom: 10px;
}

.container {
  max-width: 1323px;
  margin: 0 auto;
}

.raccoltaDati {
  margin-top: 55px;
}

form {
  padding: 55px;
}

label {
  font-size: 22px;
  color: #b91450;
  font-weight: 500;
  margin-right: 20px;
}

.buttonGenera,
.buttoAnnulla {
  font-size: 20px;
  color: #b91450;
  padding: 5px;
  border: 1px solid #e1becb;
  border-radius: 3px;
  margin-right: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.buttonGenera:hover,
.buttoAnnulla:hover {
  background-color: #b91450;
  color: #fff;
}

.raccoltaDati-title h1,
.generazioneBigliettoTitle h1 {
  text-align: center;
  padding-bottom: 50px;
  color: white;
}

.raccoltaDati-container {
  background-color: white;
  border-radius: 10px;
  width: 100%;
}

.passeggeroName {
  padding-bottom: 10px;
}

.generazioneBiglietto-container {
  height: 242px;
  background-color: white;
  border-radius: 10px;
  width: 100%;
}

.generazioneBiglietto {
  margin-top: 100px;
}

.containerDettagli {
  padding: 20px;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding: 20px 0;
}

.box {
  height: 100px;
}
